<div>
  <ul class="skip-links">
    <li><a href="#nav" aria-label="Go to the main navigation of the page">Skip to main nav</a></li>
    <li><a href="#main" aria-label="Go to the main content of the page">Skip to main content</a></li>
  </ul>
</div>

<header class="navbar navbar-expand-lg bd-navbar sticky-top bg-light">
  <nav class="container-fluid" aria-label="Main navigation">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a role="button" class="nav-link" routerLink="home" routerLinkActive="active"
            aria-label="Go to home page">Home</a>
        </li>
        <li class="nav-item">
          <a role="button" class="nav-link" routerLink="about" routerLinkActive="active"
            aria-label="Go to about page">About
            Me</a>
        </li>
        <li class="nav-item">
          <a role="button" class="nav-link" routerLink="portfolio" routerLinkActive="active"
            aria-label="Go to my portfolio page">My
            Portfolio</a>
        </li>
        <li class="nav-item">
          <a role="button" class="nav-link" routerLink="contact" routerLinkActive="active"
            aria-label="Go to contact page">Contact
            Me</a>
        </li>
      </ul>
    </div>
    <div class="logo">
      <a class="navbar-brand" href="#" aria-label="Go to home page">
        <span class="text-secondary fw-bold">Vanessa Isabela Denny</span>
      </a>
    </div>
    <div class="collapse navbar-collapse justify-content-end align-items-baseline" id="navbarSupportedContent">
      <a role="button" class="icon-link" target="blank" href="https://www.github.com/vanessaidenny/"
        aria-label="Go to Github portfolio"><i class="fa fa-brands fa-github" aria-hidden="true"></i></a>
      <a role="button" class="icon-link" target="blank" href="https://www.linkedin.com/in/vanessaidenny"
        aria-label="Go to Linkedin portfolio"><i class="fa fa-brands fa-linkedin" aria-hidden="true"></i></a>
      <a role="button" class="icon-link" target="blank" href="https://www.codepen.io/vanessaidenny"
        aria-label="Go to Codepen portfolio"><i class="fa fa-brands fa-codepen"></i></a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div role="banner" class="banner">
  </div>
</header>
