<footer role="contentinfo">
  <div class="container-fluid text-center bg-secondary text-white py-5">
    <div class="pb-3">
      <p class="fs-6 copyright pb-2">&copy; Copyright Designed and Developed by <span class="font-zeyada fs-4">Vanessa Isabela Denny</span></p>
      <small>
        Portfolio built with Angular TypeScript and hosted on Netlify.
        Source Code: <a target="_blank" class="text-light" href="https://github.com/vanessaidenny/portfolio">GitHub Repository</a></small>
    </div>
    <button type="button" class="btn btn-link text-white" (click)="gotoTop()"
      aria-label="Go back to the top of the page">Back to Top</button>
  </div>
</footer>
