<div>
  <ul class="skip-links">
    <li><a href="#nav" aria-label="Go to the main navigation of the page">Skip to main nav</a></li>
    <li><a href="#main" aria-label="Go to the main content of the page">Skip to main content</a></li>
  </ul>
</div>

<header class="navbar navbar-expand-lg bd-navbar sticky-top bg-light shadow-sm px-4 py-3">
  <nav class="container-fluid" aria-label="Main navigation">
    <div class="logo">
      <a class="navbar-brand" href="#" aria-label="Go to home page">
        <span class="font-zeyada text-primary fs-3 fw-semibold">Vanessa Isabela Denny</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-3 mb-lg-0 fw-semibold">
        <li class="nav-item">
          <a role="button" class="nav-link" routerLink="greeting" routerLinkActive="active"
            aria-label="Go to home page">Greeting</a>
        </li>
        <li class="nav-item">
          <a role="button" class="nav-link" routerLink="portfolio" routerLinkActive="active"
            aria-label="Go to my portfolio page">Portfolio</a>
        </li>
        <li class="nav-item">
          <a role="button" class="nav-link" routerLink="resume" routerLinkActive="active"
            aria-label="Go to about page">Resume</a>
        </li>
        <li class="nav-item">
          <a role="button" class="nav-link" routerLink="get-in-touch" routerLinkActive="active"
            aria-label="Go to contact page">Get In Touch</a>
        </li>
      </ul>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div role="banner" class="banner">
  </div>
</header>
