<h1 role="heading" class="display-6 text-primary fw-bold">Hi! I'm Vanessa Isabela Denny</h1>
<section>
  <h2 role="heading" class="text-secondary fw-semibold">What drives my work ethic is building products that are user
    centered</h2>
  <p class="fs-4">
    Graduated in Business Management, Systems Analysis and Development, and currently studying Interactive Media Design
    at Algonquin College. My professional and academic journey guides me towards creating solutions for user
    interactions.
  </p>
  <button (click)="changePage('/about')" aria-label="Go to about page">About me ></button>
</section>
<section class="bg-white">
  <div>
    <h2 role="heading" class="text-secondary fw-semibold">UX UI Design</h2>
    <p class="fs-4">
      It involves understanding users' needs and behaviors, creating user personas, mapping user journeys, and designing
      interactions that are responsive and intuitive.
      It also includes the visual and interactive elements of a product or service that enable users to interact with
      it.
    </p>
  </div>
  <div>
    <h2 role="heading" class="text-secondary fw-semibold">Front End Development</h2>
    <p class="fs-4">
      Implementing responsive designs that work across different devices and screen sizes, implementing layout, style,
      functionality, animations and interactive elements that enhance the user experience, and ensuring that the website
      or application is optimized for performance and accessibility.
    </p>
  </div>
  <button (click)="changePage('/portfolio')" aria-label="Go to my portfolio page">My portfolio ></button>
</section>
<section>
  <h2 role="heading" class="text-secondary fw-semibold">Get in Touch</h2>
  <p class="fs-4">
    Feel free to write a message with suggestions, questions and invitations.
    Find me elsewhere to explore my programming and design portfolios, and my
    professional social media. <br>
    I look forward to exchanging experiences.
  </p>
  <button (click)="changePage('/contact')" aria-label="Go to contact page">Contact me ></button>
</section>
