<section class="py-3 position-relative text-center text-lg-start">
  <div class="animate__animated animate__fadeIn container-fluid d-flex align-items-center justify-content-center py-5">
    <div class="row col-lg-9 align-items-center justify-content-center">
      <img class="col-lg-3 col-5 g-0 p-0 m-0" src="assets/img/vanessa/my-picture_480.png" alt="Vanessa Isabela Denny's picture">
      <div class="col-lg-6">
        <h1 role="heading" class="animate__animated animate__bounce text-primary pt-md-5 pt-3">
          Hi there, I'm Vanessa
        </h1>
        <h2 role="heading" class="fs-3 text-secondary fw-semibold">Welcome to my portfolio!</h2>
        <p class="fs-5">Here, I present solutions driven by my passion for user-centered design and a holistic approach, leveraging my understanding of the design and development lifecycle to thrive in a fast-changing digital landscape.</p>
      </div>
    </div>
  </div>
  <div class="position-absolute translate-middle-y">
    <picture>
      <source srcset="assets/graphics/butterfly-triangle_0.5.png" media="(max-width: 680px)">
      <source srcset="assets/graphics/butterfly-triangle_0.75.png" media="(max-width: 980px)">
      <img src="assets/graphics/butterfly-triangle_0.75.png" alt="Butterfly Triangle graphic">
    </picture>
  </div>
</section>

<section class="bg-white py-md-5 py-4 text-center text-lg-start">
  <div class="container-fluid d-flex justify-content-center">
    <div class="row col-lg-8 g-lg-4 pb-md-4 py-4 g-5">
      <div class="col-lg">
        <h3 role="heading" class="text-secondary fw-semibold">Interaction Designer</h3>
        <p class="fs-5 pt-1">
          Connecting users' needs with the purpose of the product to create experiences that are <br>
          <span class="font-zeyada text-primary fs-3">equitable and enjoyable.</span>
        </p>
      </div>
      <div class="col-lg">
        <h3 role="heading" class="text-secondary fw-semibold">Visual Designer</h3>
        <p class="fs-5 pt-1">
          Designing font, colour palette, layout, components, illustrations, and logos that are  <br>
          <span class="font-zeyada text-primary fs-3">essential and meaningful.</span>
        </p>
      </div>
      <div class="col-lg">
        <h3 role="heading" class="text-secondary fw-semibold">Front End Developer</h3>
        <p class="fs-5 pt-1">
          Developing functional, responsive and accessible frontend ensuring<br>
          <span class="font-zeyada text-primary fs-3">performance and optimization.</span>
        </p>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-tertiary shadow-sm rounded-4 px-4 py-2 fw-semibold" (click)="changePage('/portfolio')"
      aria-label="Go to my portfolio page">Explore Portfolio ></button>
  </div>
</section>
