<h1 role="heading" class="display-6 text-primary fw-bold">Contact Me</h1>
<section>
  <h2 role="heading" class="text-secondary fw-semibold">Send an Email</h2>
  <p class="fs-4">
    Use the form below to send me an email.
    <br>
    Feel free to write a message with suggestions, questions and invitations.
  </p>
  <form class="fs-5 bg-white row g-3">
    <div class="col-md-6">
      <label for="inputName" class="form-label">Full Name*</label>
      <input type="text" class="form-control" id="inputName" placeholder="">
    </div>
    <div class="col-md-6">
      <label for="inputEmail" class="form-label">Email*</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="">
    </div>
    <div class="col-12">
      <label for="inputSubject" class="form-label">Subject</label>
      <input type="text" class="form-control" id="inputSubject" placeholder="">
    </div>
    <div class="col-12">
      <label for="inputMessage" class="form-label">Message*</label>
      <textarea type="text" class="form-control" id="inputMessage" placeholder=""></textarea>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary" aria-label="Send email">Send ></button>
    </div>
  </form>
</section>
<hr>
<section>
  <h2 role="heading" class="text-secondary fw-semibold">My Links</h2>
  <p class="fs-4">
    Find me elsewhere in the links below to explore my programming and design portfolios, and my professional social
    media.
    <br>
    Stay connected and follow my projects and professional news.
  </p>
  <div>
    <a role="button" class="icon-link" target="blank" href="https://www.github.com/vanessaidenny/"
      aria-label="Go to Github portfolio"><i class="bi bi-github" aria-hidden="true"></i></a>
    <a role="button" class="icon-link" target="blank" href="https://www.linkedin.com/in/vanessaidenny"
      aria-label="Go to Linkedin portfolio"><i class="bi bi-linkedin" aria-hidden="true"></i></a>
    <a role="button" class="icon-link" target="blank" href="https://www.codepen.io/vanessaidenny"
      aria-label="Go to Codepen portfolio"><i class="fa fa-brands fa-codepen"></i></a>
  </div>
</section>
