hr,.links-text {
  margin: 0 auto;
}

.icon-link {
  background-color: #F7F8F9;
  border-radius: 100%;
  padding: 15px;
}

.btn-tertiary {
  background-color: #FED10B !important;
}

.btn-tertiary:hover {
  background-color: #301DDE !important;
  color: #F7F8F9;
}