<div class="position-relative bg-white py-3 py-5">
  <h1 role="heading" class="animate__animated animate__bounce text-primary text-center py-md-5 py-3">
    Get In Touch
  </h1>
  <div class="position-absolute translate-middle-y">
    <picture>
      <source srcset="assets/graphics/butterfly-triangle_0.5.png" media="(max-width: 780px)">
      <source srcset="assets/graphics/butterfly-triangle_0.75.png" media="(max-width: 980px)">
      <img src="assets/graphics/butterfly-triangle_0.75.png" alt="Butterfly Triangle graphic">
    </picture>
  </div>
</div>

<div class="row col-lg-12 mx-0">
  <section class="container col-lg-8 my-5">
    <h2 role="heading" class="text-secondary fw-semibold text-center">Send an Email</h2>
    <p class="fs-5 pt-md-3 pt-1 text-center">
      Feel free to write a message with suggestions, questions, and invitations.
      <br>
      Use the form below or directly to <a href="mailto:vanessaidenny@gmail.com" class="text-primary fw-semibold">vanessaidenny@gmail.com</a>.
    </p>
    
    <div class="container col-lg-8 mt-md-5 mt-4">
      <div *ngIf="showSuccessAlert" class="container alert alert-success text-center" role="alert">
        Email sent successfully!
      </div>
      
      <div *ngIf="showErrorAlert" class="alert alert-danger text-center" role="alert">
        Error sending email. Please try again later.
      </div>

      <div *ngIf="!showSuccessAlert && !showErrorAlert">
        <form class="row g-3 p-md-3 pb-3" [formGroup]="form" action="javascript:void(0)" (submit)="submitForm()">
          <div class="col-md-6">
            <label for="inputName" class="form-label">Full Name*</label>
            <input type="text" class="form-control shadow-sm" id="inputName" placeholder="Insert your full name" autocomplete="name" formControlName="from_name">
          </div>
          <div class="col-md-6">
            <label for="inputEmail" class="form-label">Email*</label>
            <input type="email" class="form-control shadow-sm" id="inputEmail" placeholder="Insert your email address" formControlName="from_email">
          </div>
          <div class="col-12">
            <label for="inputSubject" class="form-label">Subject*</label>
            <input type="text" class="form-control shadow-sm" id="inputSubject" placeholder="Insert the email subject" formControlName="subject">
          </div>
          <div class="col-12">
            <label for="inputMessage" class="form-label">Message*</label>
            <textarea type="text" class="form-control shadow-sm" id="inputMessage" placeholder="Insert your message" formControlName="message"></textarea>
          </div>
          <div class="col text-center">
            <button type="submit" class="btn btn-tertiary shadow-sm rounded-4 px-4 py-2 fw-semibold" aria-label="Send email">Send ></button>
          </div>
        </form>
      </div>
    </div>
  </section>

  <section class="col-lg-4 bg-white py-md-5 py-5 py-lg-5 shadow-sm position-relative">
    <div class="container d-flex flex-column align-items-end h-100">
      <div class="text-center mx-auto z-1">
        <h2 role="heading" class="text-secondary fw-semibold">Let's Connect</h2>
        <p class="fs-5 py-md-3 py-1">
          Find me elsewhere in the links below.
        </p>
        <div class="connect-links d-flex justify-content-center flex-column mt-4">
          <a role="button" class="text-decoration-none mb-4" target="blank" href="https://www.linkedin.com/in/vanessaidenny" aria-label="Go to Vanessa's Linkedin profile">
            <i class="fa fa-brands fa-linkedin fs-2 bg-light rounded-5 p-3" aria-hidden="true"></i>
            <span class="text-black bg-light rounded-3 p-2">linkedin.com/in/vanessaidenny</span>
          </a>
          <a role="button" class="text-decoration-none mb-4" target="blank" href="https://www.github.com/vanessaidenny/" aria-label="Go to Vanessa's Github portfolio">
            <i class="fa fa-brands fa-github fs-2 bg-light rounded-5 p-3" aria-hidden="true"></i>
            <span class="text-black bg-light rounded-3 p-2">github.com/vanessaidenny</span>
          </a>
        </div>
      </div>
      <div class="position-absolute z-0 bottom-0 end-0">
        <picture class="mountains-home">
          <source srcset="assets/graphics/mountains_0.5.png" media="(max-width: 680px)">
          <source srcset="assets/graphics/mountains_0.75.png" media="(max-width: 780px)">
          <img src="assets/graphics/mountains_0.75.png" alt="Mountains graphic">
        </picture>
      </div>
    </div>
  </section>
</div>