.btn-tertiary {
  background-color: #FED10B !important;
}

.btn-tertiary:hover {
  background-color: #301DDE !important;
  color: #F7F8F9;
}

.connect-links a:hover span,
.connect-links a:hover i {
  background-color: #E6E6E6 !important;
}