<div class="my-3">
  <div class="row g-3 bg-white rounded shadow-sm p-2 my-2">
    <div class="col-lg-5 d-flex p-3">
      <div class="flex-column">
        <h4 class="fw-semibold">Book Review Site Using Headless CMS</h4>
        <div class="py-2 m-0">
          <h5 class="text-decoration-underline m-0 p-0">Page:</h5>
          <a target="_blank" href="http://static-book-review-site.netlify.app" class="btn btn-link fw-bold">http://static-book-review-site.netlify.app</a>
        </div>
        <div class="py-2 m-0">
          <h5 class="text-decoration-underline">Frameworks and Tools Used:</h5>
          <p class="m-0 p-0">Headless CMS: Strapi / Render / PostgreSQL / Neon / Cloudinary<br>
            Frontend: VueJS / Nuxt / Netlify<br>
            CSS & Components: Bootstrap / Nuxt Rating</p>
        </div>
        <div class="py-2 m-0">
          <h5 class="text-decoration-underline m-0 p-0">Github:</h5>
          <a target="_blank" href="https://github.com/vanessaidenny/review-site-frontend" class="btn btn-link fw-bold m-0 p-0">https://github.com/vanessaidenny/review-site-frontend</a>
          <a target="_blank" href="https://github.com/vanessaidenny/review-site-headless-cms" class="btn btn-link fw-bold m-0 p-0">https://github.com/vanessaidenny/review-site-headless-cms</a>
        </div>
      </div>
    </div>
    <div class="col-lg d-flex align-items-center justify-content-center">
      <img class="img-fluid" src="assets/img/pages/page-bookreview.png" alt="Project EverLeaf">
    </div>
  </div>
  
  <div class="row g-3 bg-white rounded shadow-sm p-2 my-4">
    <div class="col-lg-5 d-flex p-3">
      <div class="flex-column">
        <h4 class="fw-semibold">AstroGaze - Astronomy Pictures Application</h4>
        <div class="py-2 m-0">
          <h5 class="text-decoration-underline m-0 p-0">Page:</h5>
          <a target="_blank" href="https://vanessaidenny.github.io/capstone-nasa-apod-api/" class="btn btn-link fw-bold">https://vanessaidenny.github.io/capstone-nasa-apod-api/</a>
        </div>
        <div class="py-2 m-0">
          <h5 class="text-decoration-underline">Frameworks and Tools Used:</h5>
          <p class="m-0 p-0">Frontend: JavaScript<br>
              CSS & Components: Bootstrap, FlatPickr</p>
        </div>
        <div class="py-2 m-0">
          <h5 class="text-decoration-underline m-0 p-0">Github:</h5>
          <a target="_blank" href="https://github.com/vanessaidenny/capstone-nasa-apod-api" class="btn btn-link fw-bold m-0 p-0">https://github.com/vanessaidenny/capstone-nasa-apod-api</a>
        </div>
      </div>
    </div>
    <div class="col-lg d-flex align-items-center justify-content-center">
      <img class="img-fluid" src="assets/img/pages/page-astrogaze.png" alt="Project EverLeaf">
    </div>
  </div>
  
  <div class="row g-3 bg-white rounded shadow-sm p-2 my-4">
    <div class="col-lg-5 d-flex p-3">
      <div class="flex-column">
        <h4 class="fw-semibold">Contact Book Using ReactJS</h4>
        <div class="py-2 m-0">
          <h5 class="text-decoration-underline m-0 p-0">Page:</h5>
          <a target="_blank" href="https://contact-book-react-js.netlify.app/" class="btn btn-link fw-bold">https://contact-book-react-js.netlify.app/</a>
        </div>
        <div class="py-2 m-0">
          <h5 class="text-decoration-underline">Frameworks and Tools Used:</h5>
          <p class="m-0 p-0">Database: Firestore<br>
            Frontend: ReactJS<br>
            CSS & Components: Bootstrap<br>
            CSS & Components: Bootstrap / Nuxt Rating</p>
        </div>
        <div class="py-2 m-0">
          <h5 class="text-decoration-underline m-0 p-0">Github:</h5>
          <a target="_blank" href="https://github.com/vanessaidenny/contact-book-reactjs" class="btn btn-link fw-bold m-0 p-0">https://github.com/vanessaidenny/contact-book-reactjs</a>
        </div>
      </div>
    </div>
    <div class="col-lg d-flex align-items-center justify-content-center">
      <img class="img-fluid" src="assets/img/pages/page-contactbook.png" alt="Project EverLeaf">
    </div>
  </div>
</div>