<div class="py-5">
    <div>
        <div class="container py-3 pb-3 text-center">
            <h2 role="heading" class="animate__animated animate__bounce font-zeyada text-primary display-5">EverLeaf<br> Healthy Eating App</h2>
            <span class="badge badge-primary bg-secondary p-2 mx-2 fw-normal">UX</span>
            <span class="badge badge-primary bg-secondary p-2 mx-2 fw-normal">UI</span>
            <span class="badge badge-primary bg-secondary p-2 mx-2 fw-normal">Interactive Design</span>
        </div>
        <div>
            <div class="container bg-white rounded p-4 border">
                <img class="img-fluid" src="assets/img/projects/everleaf/showcase.png" alt="EverLeaf project showcase" />
            </div>
            <div class="position-absolute translate-middle-y end-0">
              <picture>
                <source srcset="assets/graphics/butterfly-triangle_0.5.png" media="(max-width: 780px)">
                <source srcset="assets/graphics/butterfly-triangle_0.75.png" media="(max-width: 980px)">
                <img src="assets/graphics/butterfly-triangle_0.75.png" alt="Butterfly Triangle graphic">
              </picture>
            </div>
        </div>
    </div>
      
    <div class="container py-5 col-lg-6 text-center">
        <h2 role="heading" class="text-secondary fw-semibold text-center">Project Purpose</h2>
        <p class="fs-5 pt-1 text-center">
            Assist and empower individuals to maintain a balanced and healthier lifestyle by providing comprehensive information and guidance, 
            enabling them to make informed choices and sustain a long-term commitment to healthy dietary practices.
        </p>
    </div>

    <div class="bg-light p-4">
        <div>
            <h3 class="font-zeyada text-primary display-6">Problem</h3>
        </div>
        <div class="container row align-items-center mx-auto col-lg-9">
            <div class="col-lg">
                <h4 class="text-secondary fw-semibold text-center">Problem Statement</h4>
                <p class="fs-6 pt-1 text-center">
                    Individuals face challenges in preparing healthy meals throughout the day at home, school, and the workplace. This problem 
                    affects those who are willing to make dietary changes to improve their well-being. Consequently, it hinders their ability to 
                    maintain a healthier lifestyle.
                </p>
            </div>
            <div class="col-lg text-center pt-3 pt-lg-0">
                <h4 class="text-secondary fw-semibold pb-1">User Need Personas</h4>
                <div class="row flex-wrap">
                    <div class="col-lg">
                        <img class="img-fluid h-25" src="assets/img/projects/everleaf/icon-budget.png" alt="Budget icon" />
                        <p class="fs-6 pt-1">Mark needs to make change for a healthier diet in order to save more money and better his time management.</p>
                    </div>
                    <div class="col-lg">
                        <img class="img-fluid h-25" src="assets/img/projects/everleaf/icon-save.png" alt="Saving icon" />
                        <p class="fs-6 pt-1">
                            Greg needs to make better food decisions because it will help him excel in time management, thus enhancing his focus 
                            on his career.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7 mx-auto">
                        <img class="img-fluid h-25" src="assets/img/projects/everleaf/icon-food.png" alt="Food icon" />
                        <p class="fs-6 pt-1">
                            Sarah needs to find efficient and healthy meal solutions because it supports her goal of ensuring her family's well-being 
                            and nutrition while juggling her part-time work and family responsibilities.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white p-4">
        <div>
            <h3 class="font-zeyada text-primary display-6">Logo / Icon</h3>
        </div>
        <div class="container row align-items-center mx-auto">
            <div class="col-lg-5 mx-auto">
                <img class="img-fluid" src="assets/img/projects/everleaf/logo.png" alt="Logo picture" />
            </div>
            <div class="col-lg-4 mx-auto pt-3 pt-lg-0">
                <p class="fs-6 text-center">
                    The Everleaf name with a leaf integrated into the letter F symbolizes nature, growth, and vitality while subtly conveying the app's 
                    focus on health. Visually striking and memorable, it stands out amidst competitors, evoking positive associations of freshness and 
                    well-being. Moreover, the versatility of the leaf icon ensures its effectiveness across various platforms and marketing materials, 
                    further enhancing the brand's identity and appeal.
                </p>
                <p class="fs-6 pt-1 text-center">
                    Created on Adobe Illustrator and exported in the formats with various sizes:<br>
                    ai + pdf + png + svg + eps
                </p>
            </div>
        </div>
    </div>

    <div class="bg-light p-4">
        <div>
            <h3 class="font-zeyada text-primary display-6">Process</h3>
        </div>
        <div class="col-lg-8 container mx-auto">
            <p class="col-lg-8 mx-auto fs-6 text-center pb-3">
                Defining the purpose of an application and identifying its target audience are critical steps when addressing real-world problems through 
                a project. These aspects serve as the foundational pillars upon which the entire project is built, influencing every subsequent decision 
                made throughout the development process.
            </p>
            <img class="img-fluid" src="assets/img/projects/everleaf/purpose-audience.png" alt="App Purpose and Target Audience picture" />
        </div>
        <div class="mt-4">
            <h4 class="text-secondary fw-semibold pb-1 pt-4 text-center">Mood Board</h4>
            <div class="col-lg-8 row container mx-auto align-items-center">
                <img class="col-lg-8 img-fluid" src="assets/img/projects/everleaf/mood-board.png" alt="Mood Board picture" />
                <p class="col-lg mx-auto fs-6 text-center">
                    In crafting a moodboard for the Everleaf healthy eating app, lush greenery and vibrant fruits serve as visual anchors, reaffirming its 
                    commitment to wholesome living. Complementing these are leaf patterns and textures, mirroring the logo's motif and further enhancing the 
                    natural theme. Fresh, bright colors infuse the moodboard with energy and vitality, while the simplicity of the typography fosters a 
                    sustainable atmosphere, reinforcing the app's dedication to wellness.
                </p>
            </div>
        </div>
        <div class="mt-4">
            <h4 class="text-secondary fw-semibold pb-1 pt-4 text-center">App Flow</h4>
            <div class="col-lg-8 row container mx-auto align-items-center">
                <img class="col-lg-8 img-fluid" src="assets/img/projects/everleaf/app-flow.png" alt="App Flow picture" />
                <p class="col-lg mx-auto fs-6 text-center">
                    Crafting an app flow is like architecting a journey for users within your application. The app flow delineates the path users will take 
                    as they interact with the application, ensuring that their journey is seamless, intuitive, and purposeful. By mapping out the sequence of 
                    screens we can create a cohesive user experience that guides users towards their desired outcomes.
                </p>
            </div>
        </div>
    </div>

    <div class="bg-white p-4">
        <div>
            <h3 class="font-zeyada text-primary display-6">Sketch</h3>
        </div>
        <div class="col-lg-9 container mx-auto text-center">
            <h4 class="text-secondary fw-semibold pb-1 text-center">Low Fidelity Wireframes</h4>
            <div class="row container mx-auto align-items-center">
                <img class="col-lg-8 img-fluid" src="assets/img/projects/everleaf/sketch.png" alt="Low Fidelity Wireframes picture" />
                <p class="col-lg mx-auto fs-6 text-center">
                    By utilizing simple shapes, placeholders, and annotations, different screens and interactions were quickly mocked up, facilitating rapid 
                    prototyping and iterative design, and enabling the exploration of various design ideas within minutes. 
                    This agility allowed for usability testing early in the design process, gathering valuable feedback and iterating on the design promptly. 
                    Consequently, usability issues can be identified and addressed upfront, reducing the risk of costly mistakes later on.
                </p>
            </div>
        </div>
    </div>

    <div class="bg-light p-4">
        <div>
            <h3 class="font-zeyada text-primary display-6">Usability Testing</h3>
        </div>
        <div class="col-lg-9 container mx-auto text-center">
            <h4 class="text-secondary fw-semibold pb-3 text-center">Features Analyzed</h4>
                <img class="col-lg-8 img-fluid" src="assets/img/projects/everleaf/usability-testing.png" alt="Usability Testing picture" />
        </div>
    </div>
    
    <div class="bg-white p-4">
        <div>
            <h3 class="font-zeyada text-primary display-6">Solution</h3>
        </div>
        <div class="container mx-auto text-center">
            <h4 class="text-secondary fw-semibold pb-3 text-center">High Fidelity Wireframes</h4>
            <img class="img-fluid" src="assets/img/projects/everleaf/hi-fi-wireframes.png" alt="High Fidelity Wireframes picture" />
            <button type="button" class="btn btn-tertiary mt-5 shadow-sm" (click)="goToUrl()"
              aria-label="Go to my portfolio page">Interactive Prototype on Figma ></button>
        </div>
    </div>

    <div class="text-center mt-4">
        <a type="button" class="btn btn-link fw-semibold" (click)="changePage('/portfolio')"
        aria-label="Go back to the Portfolio page">&lt; back to Portfolio</a>
    </div>
</div>