<h1>My Portfolio</h1>
<section>
  <h2>Skills</h2>
  <div>
    <h3>UX UI Design</h3>
    <ul>
      <li>Project Vision and Goals</li>
      <li>Brand Strategy</li>
      <li>Competitor Analysis</li>
      <li>Persona Creation</li>
      <li>Mood Board & Style Tiles</li>
      <li>Sketching</li>
      <li>Accessibility</li>
      <li>Wireframing & Prototyping</li>
      <li>User Testing</li>
    </ul>
    <p>Platforms:</p>
    <ul>
      <li>Figma, Adobe XD, Illustrator and inDesign</li>
    </ul>
  </div>
  <div>
    <h3>Front End Development</h3>
    <ul>
      <li>Angular v.12</li>
      <li>TypeScript</li>
      <li>NodeJS & NPM</li>
      <li>HTML5, CSS & SCSS</li>
      <li>Accessibility</li>
      <li>Javascript</li>
      <li>JS Frameworks/Libraries: React, Angular, Vue</li>
      <li>Wordpress, Drupal, Shopify</li>
    </ul>
    <p>Platforms:</p>
    <ul>
      <li>Visual Studio Code, Git / Github / Gitlab, AWS, Jira, and Figma</li>
    </ul>
  </div>
</section>
<section>
  <h2>Projects</h2>
  <p>Use the links below to filter by specialty:</p>
  <form>
    <label>All projects</label>
    <label>Design projects</label>
    <label>Development projects</label>
  </form>
</section>
<section>
  Cards
</section>
