<h1 role="heading" class="display-6 text-primary fw-bold">My Portfolio</h1>
<section>
  <h2 role="heading" class="text-secondary fw-semibold">Skills</h2>
  <div>
    <h3 role="heading" class="text-black fw-semibold">UX UI Design</h3>
    <ul class="list-inline">
      <li>• Project Vision and Goals</li>
      <li>• Brand Strategy</li>
      <li>• Competitor Analysis</li>
      <li>• Persona Creation</li>
      <li>• Mood Board & Style Tiles</li>
      <li>• Sketching</li>
      <li>• Accessibility</li>
      <li>• Wireframing & Prototyping</li>
      <li>• User Testing</li>
    </ul>
    <p class="fs-4 fst-italic">Platforms:</p>
    <ul class="list-inline">
      <li>• Figma, Adobe XD, Illustrator and inDesign</li>
    </ul>
  </div>
  <div>
    <h3 role="heading" class="text-black fw-semibold">Front End Development</h3>
    <ul class="list-inline">
      <li>• Angular v.12</li>
      <li>• TypeScript</li>
      <li>• NodeJS & NPM</li>
      <li>• HTML5, CSS & SCSS</li>
      <li>• Accessibility</li>
      <li>• Javascript</li>
      <li>• JS Frameworks/Libraries: React, Angular, Vue</li>
      <li>• Wordpress, Drupal, Shopify</li>
    </ul>
    <p class="fs-4 fst-italic">Platforms:</p>
    <ul class="list-inline">
      <li>• Visual Studio Code, Git / Github / Gitlab, AWS, Jira, and Figma</li>
    </ul>
  </div>
</section>
<section>
  <h2 role="heading" class="text-secondary fw-semibold">Projects</h2>
  <p class="fs-4">Use the links below to filter by specialty:</p>
  <form>
    <ul class="list-inline">
      <li class="list-inline-item">
        <label>All projects</label></li>
      <li class="list-inline-item">
        <label>Design projects</label></li>
      <li class="list-inline-item">
        <label>Development projects</label></li>
    </ul>
  </form>
</section>
<section>
  Cards
  <span class="text-truncate" style="max-width: 150px;">
    title
  </span>
</section>
