<div class="py-5">
    <div>
        <div class="container py-3 pb-3 text-center">
            <h2 role="heading" class="animate__animated animate__bounce font-zeyada text-primary display-5">Key to Thrive<br>Academic Coaching Mobile App</h2>
            <span class="badge badge-primary bg-secondary p-2 mx-2 fw-normal">UX</span>
            <span class="badge badge-primary bg-secondary p-2 mx-2 fw-normal">UI</span>
            <span class="badge badge-primary bg-secondary p-2 mx-2 fw-normal">Interactive Design</span>
        </div>
        <div>
            <div class="container bg-white rounded p-4 border">
                <img class="img-fluid" src="assets/img/projects/key-to-thrive/showcase.png" alt="Key to Thrive project showcase" />
            </div>
            <div class="position-absolute translate-middle-y end-0">
              <picture>
                <source srcset="assets/graphics/butterfly-triangle_0.5.png" media="(max-width: 780px)">
                <source srcset="assets/graphics/butterfly-triangle_0.75.png" media="(max-width: 980px)">
                <img src="assets/graphics/butterfly-triangle_0.75.png" alt="Butterfly Triangle graphic">
              </picture>
            </div>
        </div>
    </div>
      
    <div class="container py-5 col-lg-6 text-center">
        <h2 role="heading" class="text-secondary fw-semibold text-center">Project Purpose</h2>
        <p class="fs-5 pt-1 text-center">
            Research, analyze, and implement a mobile app design tailored for the established brand, with a focus on addressing 
            the study-related needs of students through relevant features.
        </p>
    </div>

    <div class="bg-light p-4">
        <div>
            <h3 class="font-zeyada text-primary display-6">Design</h3>
        </div>
        <div class="mt-4">
            <h4 class="text-secondary fw-semibold pb-1 pt-4 text-center">Mood Board</h4>
            <div class="col-lg-10 row container mx-auto align-items-center">
                <img class="col-lg-7 img-fluid" src="assets/img/projects/key-to-thrive/mood-board.png" alt="Key to Thrive mood board picture" />
                <p class="col-lg mx-auto fs-6 text-center">
                    The chosen mood board option presented to the client has a collaborative and exciting theme, setting the stage for a vibrant 
                    style concept characterized by keywords such as dynamic, friendly, and creative. This theme established a foundation of energy 
                    and collaboration, utilizing textures inspired by lush and natural elements to create a visually dynamic impact. Introducing a 
                    new color, orange, into the existing green and blue palette from the logo provided a split complementary contrast, injecting 
                    warmth and liveliness into the atmosphere while emphasizing specific elements. Typography plays a crucial role, employing rounded 
                    fonts to evoke a storytelling style, fostering a welcoming and friendly atmosphere with a narrative vibe.
                </p>
            </div>
        </div>
        <div class="mt-4">
            <h4 class="text-secondary fw-semibold pb-1 pt-4 text-center">Style Tiles</h4>
            <div class="col-lg-10 row container mx-auto align-items-center">
                <div class="col-lg mx-auto fs-6 text-center">
                    <p>
                        The style tile combines elements from the chosen mood board with essential technical specifications, integrating user interface 
                        elements such as buttons, links, and icons. It meticulously outlines typography details, including font family, weight, and size 
                        for each text type, along with providing hex codes for the selected color palette. Serving as a sneak peek into the mobile app's 
                        aesthetic, the style tile guarantees a seamless and refined visual identity, ensuring coherence and polish throughout the app's 
                        design.
                    </p>
                    <p>
                        The colors were carefully chosen to ensure the appropriate contrast between font and background colors. For this analysis, we 
                        rely on the 
                        <a target="_blank" class="text-primary fw-semibold" href="https://webaim.org/resources/contrastchecker/">Web AIM Contrast Checker website</a>,
                        aligning with WCAG standards.
                    </p>
                </div>
                <img class="col-lg-7 img-fluid" src="assets/img/projects/key-to-thrive/style-tiles.png" alt="Style Tiles picture" />
            </div>
        </div>
        <div class="mt-4">
            <h4 class="text-secondary fw-semibold pb-1 text-center">Core Modules and Features</h4>
            <p class="col-lg-6 mx-auto fs-6 text-center">
                Prior to delving into the creation of flowcharts to delineate the app's structure and flow, the core modules and features were meticulously 
                organized into categories in the visual representation provided below. This approach enables us to gain a comprehensive understanding of the 
                project's scope and requirements, thereby facilitating the establishment of a clear roadmap for the design process moving forward, and ensuring 
                that our work remains closely aligned with the client's expectations and objectives.
            </p>
            <div class="col-lg-8 row container mx-auto align-items-center">
                <img class="img-fluid" src="assets/img/projects/key-to-thrive/modules-features.png" alt="Core Modules and Features picture" />
            </div>
        </div>
        <div class="mt-4">
            <h4 class="text-secondary fw-semibold pb-1 text-center">App Flow</h4>
            <div class="col-lg-10 row container mx-auto align-items-center">
                <img class="img-fluid" src="assets/img/projects/key-to-thrive/app-flow.png" alt="App Flow picture" />
            </div>
        </div>
    </div>

    <div class="bg-white p-4">
        <div>
            <h3 class="font-zeyada text-primary display-6">Sketch</h3>
        </div>
        <div class="pb-4">
            <h4 class="text-secondary fw-semibold pb-1 text-center">Low Fidelity Wireframes</h4>
            <div class="col-lg-10 row container mx-auto align-items-center">
                <img class="col-lg-7 img-fluid" src="assets/img/projects/key-to-thrive/lo-fi-wireframes.png" alt="Key to Thrive Low Fidelity Wireframes picture" />
                <p class="col-lg mx-auto fs-6 text-center">
                    By utilizing simple shapes, placeholders, and annotations, different screens and interactions were quickly mocked up, facilitating rapid prototyping 
                    and iterative design, and enabling the exploration of various design ideas within minutes. This agility allowed for usability testing early in the design 
                    process, gathering valuable feedback and iterating on the design promptly. Consequently, usability issues could be identified and addressed upfront, 
                    reducing the risk of costly mistakes later on.
                </p>
            </div>
        </div>
    </div>

    <div class="bg-light p-4">
        <div>
            <h3 class="font-zeyada text-primary display-6">Usability Testing</h3>
        </div>
        <div class="col-lg container mx-auto text-center">
            <h4 class="text-secondary fw-semibold pb-3 text-center">Features Analyzed</h4>
            <img class="col-lg-7 img-fluid" src="assets/img/projects/key-to-thrive/usability-test.png" alt="Key to Thrive Low Fidelity Wireframes picture" />
        </div>
    </div>

    <div class="bg-white p-4">
        <div>
            <h3 class="font-zeyada text-primary display-6">Solution</h3>
        </div>
        <div class="pb-4">
            <h4 class="text-secondary fw-semibold pb-1 text-center">UI Components in Figma</h4>
            <p class="col-lg-7 mx-auto fs-6 text-center">
                Crafting UI components within Figma for high wireframes serves a dual purpose: to streamline the design process and ensure a cohesive user experience.
                Firstly, developing a library of UI components establishes a consistent visual language, enhancing aesthetics and promoting user familiarity across screens.
                Secondly, leveraging Figma's features facilitates efficient iteration and refinement, enabling rapid prototyping and testing of interface configurations.
                This investment in UI component creation during the high wireframing phase sets a solid foundation for the design journey, prioritizing efficiency, consistency, 
                and user-centricity.
            </p>
            <div class="col-lg-8 row container mx-auto align-items-center">
                <img class="img-fluid" src="assets/img/projects/key-to-thrive/components.png" alt="UI Components in Figma picture" />
            </div>
        </div>
        <div class="mt-4 col-lg-9 container mx-auto text-center">
            <h4 class="text-secondary fw-semibold pb-1 text-center">High Fidelity Wireframes</h4>
            <div class="row container">
                <div class="col-lg mx-auto align-items-center">
                    <h5 class="text-secondary fw-semibold pb-1 text-center">Student Module</h5>
                    <p class="col-lg mx-auto fs-6 text-center pb-1">
                        The student access module provides a dynamic platform for students to optimize their academic journey. With seamless access to essential resources, 
                        including the pillars, time management and organizational tools, and dedicated support services, students can enhance their academic performance effectively.
                    </p>
                    <img class="col-lg img-fluid" src="assets/img/projects/key-to-thrive/student-access.png" alt="UI Components in Figma picture" />
                    <button type="button" class="btn btn-tertiary mt-3 shadow-sm" (click)="gotoUrl('studentAccess')"
                    aria-label="Go to my interactive prototype on Figma">Interactive Prototype on Figma ></button>
                </div>
                <div class="col-lg mx-auto align-items-center">
                    <h5 class="text-secondary fw-semibold pb-1 text-center">Administrator Module</h5>
                    <p class="col-lg mx-auto fs-6 text-center pb-1">
                        The administrator module offers comprehensive tools for managing content and monitoring student progress within the system. Through this module, clients 
                        have the ability to oversee various aspects of assessments, strategies, and student performance.
                    </p>
                    <img class="col-lg-9 img-fluid" src="assets/img/projects/key-to-thrive/adm-access.png" alt="UI Components in Figma picture" />
                    <button type="button" class="btn btn-tertiary mt-3 shadow-sm" (click)="gotoUrl('admAccess')"
                    aria-label="Go to my interactive prototype on Figma">Interactive Prototype on Figma ></button>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-light p-4">
        <div>
            <h3 class="font-zeyada text-primary display-6">Client Feedback</h3>
        </div>
        <div class="col-lg-9 container mx-auto text-center">
            <img class="col-lg-8 img-fluid" src="assets/img/projects/key-to-thrive/client-feedback.png" alt="Usability Testing picture" />
        </div>
    </div>
    
    <div class="bg-white p-4">
        <div>
            <h3 class="font-zeyada text-primary display-6">Winning Award</h3>
        </div>
        <div class="container mx-auto text-center">
            <div class="container row">
                <div class="col-lg-6 mx-auto fs-6 pb-1">
                    <h4 class="lh-sm text-secondary fw-semibold pb-3 d-flex align-items-center">
                        <img class="img-fluid h-auto my-auto pe-2" src="assets/img/projects/key-to-thrive/award-medal.png" alt="Winning Project Award at Applied Research Day pictures" style="max-height: 50px;" />
                        Winning Project Award at Applied Research Day
                    </h4>
                    <p>
                        Excited to share our team's achievement at Algonquin College of Applied Arts and Technology on April 12th, 2024!
                    </p>
                    <p>
                        We captured Second Place with our User Experience and Interface solution for the Key to Thrive Academic Coaching project, founded by Tina Mackay.
                    </p>
                    <p>
                        Out of 80 innovative projects across various Algonquin College programs, it is an honor to stand alongside other impressive initiatives, 
                        including an electrical engineering project in first place and a video production solution in third.
                    </p>
                    <button type="button" class="btn btn-tertiary mt-3 shadow-sm" (click)="gotoUrl('linkedinPost')"
                    aria-label="Go to my LinkedIn Post">Read LinkedIn Post ></button>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid" src="assets/img/projects/key-to-thrive/award.png" alt="Winning Project Award at Applied Research Day pictures" />
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-4">
        <a type="button" class="btn btn-link fw-semibold" (click)="changePage('/portfolio')"
        aria-label="Go back to the Portfolio page">&lt; back to Portfolio</a>
    </div>
</div>