<div class="py-5">
    <div>
        <div class="container py-3 pb-3 text-center">
            <h2 role="heading" class="animate__animated animate__bounce font-zeyada text-primary display-5">Freecycle.org<br> Recycling Services Website</h2>
            <span class="badge badge-primary bg-secondary p-2 mx-2 fw-normal">UX</span>
            <span class="badge badge-primary bg-secondary p-2 mx-2 fw-normal">UI</span>
            <span class="badge badge-primary bg-secondary p-2 mx-2 fw-normal">Interactive Design</span>
        </div>
        <div>
            <div class="container bg-white rounded p-4 border">
                <img class="img-fluid" src="assets/img/projects/freecycle/showcase.png" alt="Freecycle project showcase" />
            </div>
            <div class="position-absolute">
                <img src="assets/graphics/butterfly-triangle-sm_278.png" alt="Triangle graphic">
            </div>
        </div>
    </div>
      
    <div class="container py-5 col-lg-6 text-center">
        <h2 role="heading" class="text-secondary fw-semibold text-center">Project Purpose</h2>
        <p class="fs-5 pt-1 text-center">
            Analyze and propose solutions to enhance the user experience of the current website, Freecycle.org, aiming to optimize its online 
            free trade market and broaden its reach to individuals seeking to recycle items within their communities.
        </p>
    </div>

    <div class="bg-light p-4">
        <h3 class="font-zeyada text-primary display-6">Analysis</h3>
        <div class="col-lg-6 container mx-auto">
            <h4 class="text-secondary fw-semibold pb-3 text-center">Target Audiences</h4>
            <img class="img-fluid" src="assets/img/projects/freecycle/audiences.png" alt="Target Audiences picture" />
        </div>
    </div>

    <div class="bg-white p-4">
        <h3 class="font-zeyada text-primary display-6">Existing Website</h3>
        <div class="container row align-items-center mx-auto">
            <h4 class="text-secondary fw-semibold pb-1 text-center">Home Page Screenshot</h4>
            <div class="col-lg-9 row container mx-auto align-items-center">
                <img class="col-lg-6 img-fluid" src="assets/img/projects/freecycle/homepage.png" alt="Home Page Screenshot picture" />
                <p class="col-lg mx-auto fs-6 text-center">
                    For the redesign of Freecycle.org, the first step is to conduct a comprehensive analysis of various aspects including 
                    the target audience, usability of the existing website, and the current structure, technology, and accessibility. 
                    By understanding the needs and preferences of the target audience, we can tailor the user experience to better serve their 
                    requirements. Additionally, evaluating the usability of the current website helps identify pain points and areas for improvement, 
                    guiding the redesign process. Assessing the existing structure, technology, and accessibility ensures that the redesigned website 
                    meets modern standards and provides an inclusive experience for all users. Through this analysis, we can propose solutions to 
                    enhance the user experience, optimize the online free trade market, and broaden the reach of Freecycle.org to individuals seeking 
                    to recycle items within their communities.
                </p>
            </div>
        </div>
    </div>

    <div class="bg-light p-4">
        <h3 class="font-zeyada text-primary display-6">Redesign</h3>
        <div class="pb-4">
            <h4 class="text-secondary fw-semibold pb-1 text-center">Sitemap</h4>
            <p class="col-lg-6 mx-auto fs-6 text-center">
                By examining the current structure, we can pinpoint any duplicated paths or inconsistencies that may hinder navigation or confuse users. 
                Restructuring the sitemap serves the purpose of enhancing clarity, organization, and efficiency in how information is presented and 
                accessed on the website. By eliminating redundant pathways and ensuring a logical flow from one section to another, we can optimize the 
                user journey and make it easier for visitors to find the information they need. Additionally, a well-structured sitemap improves the 
                website's overall usability and accessibility, making it more inclusive and user-friendly for individuals of all backgrounds and abilities. 
            </p>
            <div class="col-lg-8 row container mx-auto align-items-center">
                <img class="img-fluid" src="assets/img/projects/freecycle/sitemap.png" alt="Sitemap picture" />
            </div>
        </div>
        <div class="mt-4">
            <div class="container mx-auto text-center">
                <h4 class="text-secondary fw-semibold py-1 text-center">Prototype</h4>
                <img class="img-fluid" src="assets/img/projects/freecycle/prototype.png" alt="Prototype picture" />
                <button type="button" class="btn btn-tertiary mt-5 shadow-sm"
                aria-label="Go to my interactive prototype on Figma">Interactive Prototype on Figma ></button>
            </div>
        </div>
    </div>

    <div class="text-center mt-4">
        <a type="button" class="btn btn-link fw-semibold" (click)="changePage('/portfolio')"
        aria-label="Go back to the Portfolio page">&lt; back to Portfolio</a>
    </div>
</div>