<div class="bg-white py-3 py-5">
  <div class="position-absolute">
    <img src="assets/graphics/butterfly-triangle-sm_278.png" alt="Triangle graphic">
  </div>
  <h1 role="heading" class="animate__animated animate__bounce text-primary text-center py-md-5 py-3">
    My Background</h1>
</div>

<div class="container text-center py-5">
  <h3 role="heading" class="text-secondary fw-semibold">Find my Resume and CV on OneDrive</h3>
  <p class="fs-5 py-2">
    Access my comprehensive resume and CV conveniently stored on OneDrive, ensuring easy access and download from any device.<br>
    Simply click the button below to retrieve the document and explore my qualifications in detail.
  </p>
  <button type="button" class="btn btn-tertiary shadow-sm" (click)="gotoUrl()" aria-label="Download resume and CV">Download Resume + CV</button>
</div>

<div class="pb-4">
  <section class="container bg-white pb-3 rounded text-center">
    <h2 role="heading" class="font-zeyada text-primary display-5 pt-4 pb-2">Academic</h2>
    <div class="row d-inline-flex p-3 g-0">
      <div class="col-lg">
        <p class="pb-2">2011 - 2015</p>
        <div class="position-relative">
          <hr>
          <div class="position-absolute top-0 start-50 translate-middle">
            <img height="50px" src="assets/img/timeline/graduation-hat (1).png" alt="Academic timeline line">
          </div>
        </div>
        <div class="p-3">
          <p>Associate
            <br>Business Administration
          </p>
          <img src="assets/img/timeline/companies/fatec-logo.png" alt="Fatec Indaiatuba logo">
          <p class="small">Faculdade de Tecnologia de Indaiatuba
            <br>SP, Brazil
          </p>
          <p class="small fst-italic">
            Develop market research and strategies; analyze the economic and financial 
            viability of investment projects in companies; design processes in order to 
            ensure the flow of production, support of information technology.
          </p>
          <p class="small">
            Dec/2015 - Final Program Project: Process management project with information 
            system implementation study - Final grade: 9.5/10
          </p>
        </div>
      </div>
      <div class="col-lg">
        <p class="pb-2">2017 - 2022</p>
        <div class="position-relative">
          <hr>
          <div class="position-absolute top-0 start-50 translate-middle">
            <img height="50px" src="assets/img/timeline/graduation-hat (1).png" alt="Academic timeline line">
          </div>
        </div>
        <div class="p-3">
          <p>Associate
            <br>Systems Analysis and Development
          </p>
          <img src="assets/img/timeline/companies/fatec-logo.png" alt="Fatec Indaiatuba logo">
          <p class="small">Faculdade de Tecnologia de Indaiatuba
            <br>SP, Brazil
          </p>
          <p class="small fst-italic">
            Identify systems using Requirements Engineering; implement Software Engineering 
            best practices; analyze project cost and resources; design user-friendly interfaces, 
            model and manage databases; utilize database programming; manage software architecture.
          </p>
          <p class="small">
            Feb/2018 - Certificate of Excellence in Semestre Project<br>
            Apr/2018 - Selected as Mathematics Monitor by Performance<br>
            Aug/2018 - Certificate of Excellence in Semestre Project
          </p>
        </div>
      </div>
      <div class="col-lg">
        <p class="pb-2">2022 - 2024</p>
        <div class="position-relative">
          <hr>
          <div class="position-absolute top-0 start-50 translate-middle">
            <img height="50px" src="assets/img/timeline/graduation-hat (1).png" alt="Academic timeline line">
          </div>
        </div>
        <div class="p-3">
          <p>Diploma
            <br>Interactive Media Design
          </p>
          <img src="assets/img/timeline/companies/algonquin-logo.png" alt="Algonquin College logo">
          <p class="small">Algonquin College - School of Media and Design
            <br>Ottawa, Canada
          </p>
          <p class="small fst-italic">
            Strong emphasis is placed on hands-on media production through courses in 
            computer-based web design and programming.
          </p>
          <p class="small">
            Final Cumulative GPA: 3.98/4.0<br>
            April/2024 - Applied Research Day 2nd Place Award with the Project 
            "UXD UID Mobile App Project for Key to Thrive Academic Coaching company"<br>
            Sep-Dec/2023 - Class Representative
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="container bg-white py-3 my-4 rounded text-center">
    <h2 role="heading" class="font-zeyada text-primary display-5 pt-4 pb-2">Professional</h2>
    <div class="row d-inline-flex p-3 g-0">
      <div class="col-lg-3">
        <p class="pb-2">Apr/2018 - Jul/2018</p>
        <div class="position-relative">
          <hr>
          <div class="position-absolute top-0 start-50 translate-middle">
            <img height="45px" src="assets/img/timeline/suitcase (1).png" alt="Professional timeline line">
          </div>
        </div>
        <div class="p-3">
          <p>Mathematics and Calculus Instructor
          </p>
          <img src="assets/img/timeline/companies/fatec-logo.png" alt="Fatec Indaiatuba logo">
          <p class="small">Faculdade de Tecnologia de Indaiatuba
            <br>SP, Brazil
          </p>
          <p class="small fst-italic">
            Assisting IT students with basic and discrete mathematics and calculus 
            understanding to contribute to their academic progress.
          </p>
        </div>
      </div>
      <div class="col-lg">
        <div class="row d-inline-flex g-0">
          <div class="col-lg">
            <p class="pb-2">Jul/2018 - Jul/2019</p>
            <div class="position-relative">
              <hr>
              <div class="position-absolute top-0 start-50 translate-middle">
                <img height="45px" src="assets/img/timeline/suitcase (1).png" alt="Professional timeline line">
              </div>
            </div>
            <div class="p-3">
              <p>Information Technology Support Analyst</p>
              <img src="assets/img/timeline/companies/bosch-logo.png" alt="Bosch logo">
              <p class="small">Robert Bosch Ltda.
                <br>Sao Paulo, Brazil
              </p>
            </div>
          </div>
          <div class="col-lg">
            <p class="pb-2">Aug/2019 - Aug/2020</p>
            <div class="position-relative">
              <hr>
              <div class="position-absolute top-0 start-50 translate-middle">
                <img height="45px" src="assets/img/timeline/suitcase (1).png" alt="Professional timeline line">
              </div>
            </div>
            <div class="p-3">
              <p>Information Technology Support Intern</p>
              <img src="assets/img/timeline/companies/bosch-logo.png" alt="Bosch logo">
              <p class="small">Robert Bosch Ltda.
                <br>Sao Paulo, Brazil
              </p>
            </div>
          </div>
          <p class="small fst-italic px-3">
            Writing and publishing IT and Information Security guidance to support users; managing access to directories 
            and internal systems - IAM; presenting dashboards with identified cost reductions; applying trainings about 
            automated and interactive platforms usage; software installation, network settings and failure support.
          </p>
        </div>
      </div>    
      <div class="col-lg">
        <div class="row d-inline-flex g-0">
          <div class="col-lg">
            <p class="pb-2">Aug/2020 - Feb/2021</p>
            <div class="position-relative">
              <hr>
              <div class="position-absolute top-0 start-50 translate-middle">
                <img height="45px" src="assets/img/timeline/suitcase (1).png" alt="Professional timeline line">
              </div>
            </div>
            <div class="p-3">
              <p>Software Development Intern</p>
              <img src="assets/img/timeline/companies/ibm-logo.png" alt="IBM logo">
              <p class="small">IBM
                <br>Sao Paulo, Brazil
              </p>
            </div>
          </div>
          <div class="col-lg">
            <p class="pb-2">Mar/2021 - Aug/2022</p>
            <div class="position-relative">
              <hr>
              <div class="position-absolute top-0 start-50 translate-middle">
                <img height="45px" src="assets/img/timeline/suitcase (1).png" alt="Professional timeline line">
              </div>
            </div>
            <div class="p-3">
              <p>Application-Frontend Developer</p>
              <img src="assets/img/timeline/companies/ibm-logo.png" alt="IBM logo">
              <p class="small">IBM
                <br>Sao Paulo, Brazil
              </p>
            </div>
          </div>
          <p class="small fst-italic px-3">
            <strong>Project: </strong>Mobile App Features for Itaú Unibanco Bank <br>
            <strong>IT Requirement Translation: </strong>Design, Development, Component Assembly for Custom Information Systems <br>
            <strong>Deliverables: </strong>Functional and Technical Designs, Models, Components, Code, Unit Tests, Documentation <br>
            <strong>Front-end Programming using: </strong>Angular v.12, TypeScript, NodeJS & NPM, HTML5, CSS & SCSS <br>
            <strong>Platforms: </strong>Visual Studio Code, Gitlab, AWS, Jira, Figma <br>
            <strong>Accessibility Implementation: </strong>WCAG 2.0 Standards
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="container bg-light py-3 rounded text-center">
    <h2 role="heading" class="font-zeyada text-primary display-5 pt-4 pb-2">Skills</h2>
    <div class="container-fluid text-center p-3">
      <div class="row g-3">
        <div class="col-lg">
          <h3 role="heading" class="text-secondary fw-semibold fs-4">UX & UI Design</h3>
          <ul class="list-inline pt-md-3 pt-1">
            <li>Brand Strategy</li>
            <li>Logo Design</li>
            <li>Mood Board & Style Tiles</li>
            <li>User Research</li>
            <li>Information Architecture</li>
            <li>Accessibility Guidelines</li>
            <li>Interactive Prototyping</li>
            <li>User Testing</li>
          </ul>
          <p class="fw-semibold mb-0">Tools:</p>
          <ul class="list-inline">
            <li>Figma & FigJam</li>
            <li>Adobe XD, Illustrator and inDesign</li>
          </ul>
        </div>
        <div class="col-lg">
          <h3 role="heading" class="text-secondary fw-semibold fs-4">Front End Development</h3>
          <ul class="list-inline pt-md-3 pt-1">
            <li>Angular TypeScript</li>
            <li>JavaScript, ReactJS, VueJS</li>
            <li>HTML5, CSS & SCSS</li>
            <li>NodeJS</li>
            <li>Accessibility Guidelines</li>
            <li>Wordpress, Drupal, Shopify, PHP</li>
          </ul>
          <p class="fw-semibold mb-0">Tools:</p>
          <ul class="list-inline">
            <li>Visual Studio Code, Git / Github / Gitlab, AWS, Jira, and Figma</li>
          </ul>
        </div>
        <div class="col-lg">
          <h3 role="heading" class="text-secondary fw-semibold fs-4">Graphic Design</h3>
          <ul class="list-inline pt-md-3 pt-1">
            <li>Line, shape, color, texture, type, space and balance</li>
          </ul>
          <p class="fw-semibold mb-0">Tools:</p>
          <ul class="list-inline">
            <li>Adobe Illustrator, Photoshop and inDesign</li>
          </ul>
        </div>
        <div class="col-lg">
          <h3 role="heading" class="text-secondary fw-semibold fs-4">Business Administration</h3>
          <ul class="list-inline pt-md-3 pt-1">
            Worked for 6 years (2012 - 2017) in the administrative area:
            <li>• Analyzing bidding processes, quoting and monitoring orders</li>
            <li>• Monitoring orders in production and shipping phases</li>
            <li>• Developing advanced dynamic spreadsheets in Microsoft Excel</li>
            <li>• Developing organizational, effective communication, and teamwork soft skills</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>