<div class="bg-white py-3 py-md-5">
  <h1 role="heading" class="display-6 text-primary fw-bold text-center py-md-5 py-3">About Me</h1>
</div>
<section class="my-md-5 my-3 pb-md-5 pb-3">
  <div class="container-md text-center">
    <div class="row">
      <div class="col-md">
        <picture>
          <source srcset="/assets/img/my-picture_360.png,
                          /assets/img/my-picture_480.png 2x,
                          /assets/img/my-picture_720.png 3x" media="(max-width: 460px)">
          <source srcset="/assets/img/my-picture_480.png,
                          /assets/img/my-picture_960.png 2x,
                          /assets/img/my-picture_1440.png 3x" media="(max-width: 780px)">
          <img src="/assets/img/my-picture.png" alt="Vanessa Isabela Denny's picture">
        </picture>
      </div>
      <div class="col-8">
        <h2 role="heading" class="text-secondary fw-semibold">Background</h2>
        <p class="fs-4">What drives my work ethic is building products that are user centered.</p>
        <br>
        <p class="fs-4">Graduated in Business Management, Systems Analysis and Development, and currently studying
          Interactive
          Media Design
          at Algonquin College.</p>
        <br>
        <p class="fs-4">I started working in the technology area assisting internal users in solving IT problems and
          applying
          training,
          where I proactively started writing and updating internal pages with IT guidelines to contribute to the
          support
          queue and make users more autonomous.</p>
        <br>
        <p class="fs-4">After the extra time studying programming, I was able to work on building applications and
          mobile
          features with
          Angular-Typescript by interpreting design guidelines in Figma and accessibility standards according to WCAG
          2.0.</p>
        <br>
        <p class="fs-4">My interaction with design experts made me curious to expand my knowledge in research, ideation,
          wireframing and
          prototyping.</p>
      </div>
    </div>
  </div>
</section>
<section class="bg-light">
  <h2 role="heading" class="text-secondary fw-semibold">Education</h2>
  <button type="button" class="btn btn-primary" (click)="changePage('/portfolio')" aria-label="Go to portfolio page">My
    portfolio
    ></button>
</section>
<section class="bg-white">
  <h2 role="heading" class="text-secondary fw-semibold">Experience</h2>
  <button type="button" class="btn btn-primary" (click)="gotoUrl()" aria-label="Download resume">Download resume
    ></button>
</section>
