<div class="mt-3">
  <div class="row g-3">
    <div class="col-lg d-flex flex-column flex-lg-row bg-white rounded shadow p-2 me-lg-2">
      <div class="col-lg-5 d-flex flex-column justify-content-center bg-tertiary rounded shadow-sm p-3">
        <div class="pb-2">
          <h4 class="fw-semibold">EverLeaf</h4>
          <h5 class="fw-semibold">Healthy Eating Application</h5>
        </div>
        <small class="fst-italic">UX  •  UI  •  Interactive Design</small>
        <p class="py-2 m-0">Designing a user-centered solution for a real-world problem from Logo to Prototype.</p>
        <a type="button" class="btn btn-link fw-semibold" (click)="changePage('/portfolio/project-everleaf')"
          aria-label="Go to the EverLeaf project page">View Project Process</a>
      </div>
      <div class="col-lg d-flex align-items-center justify-content-center">
        <img class="img-fluid" src="assets/img/projects/project-everleaf.png" alt="Project EverLeaf">
      </div>
    </div>

    <div class="col-lg d-flex flex-column flex-lg-row bg-white rounded shadow p-2 ms-lg-2">
      <div class="col-lg-5 d-flex flex-column justify-content-center bg-tertiary rounded shadow-sm p-3">
        <div class="pb-2">
          <h4 class="fw-semibold">Freecyle.org</h4>
          <h5 class="fw-semibold">Recycling Services Website</h5>
        </div>
        <small class="fst-italic">UX  •  UI  •  Interactive Design</small>
        <p class="py-2 m-0">Redesigning solutions to improve the usability of an existing website.</p>
        <a type="button" class="btn btn-link fw-semibold" (click)="changePage('/portfolio/project-freecycle')"
          aria-label="Go to the Freecycle project page">View Project Process</a>
      </div>
      <div class="col-lg d-flex align-items-center justify-content-center">
        <img class="img-fluid" src="assets/img/projects/project-freecycle.png" alt="Project Freecyle">
      </div>
    </div>
  </div>

  <div class="row g-3 mt-2 justify-content-center">
    <div class="col-lg-6 d-flex flex-column flex-lg-row bg-white rounded shadow p-2 me-lg-2">
      <div class="col-lg-5 d-flex flex-column justify-content-center bg-tertiary rounded shadow-sm p-3">
        <div class="pb-2">
          <h4 class="fw-semibold">Key to Thrive</h4>
          <h5 class="fw-semibold">Academic Coaching Mobile App</h5>
        </div>
        <small class="fst-italic">UX  •  UI  •  Interactive Design</small>
        <p class="py-2 m-0">Designing a mobile app for an established brand's needs.</p>
        <a type="button" class="btn btn-link fw-semibold" (click)="changePage('/portfolio/project-key-to-thrive')"
          aria-label="Go to the Key to Thrive project page">View Project Process</a>
      </div>
      <div class="col-lg d-flex align-items-center justify-content-center">
        <img class="img-fluid" src="assets/img/projects/project-keytothrive.png" alt="Project Key to Thrive">
      </div>
    </div>
</div>
